@page "/calculator"

@using ResistorColorCode.App.Components.Resistor
@using ResistorColorCode.Domain.Resistors.Enum
@inject IStringLocalizer<AppResources> Localizer

<div class="container">
	<div class="row">
		<div class="col-12">
			<h1>@Localizer["HeaderTitle"]</h1>
			<p>@Localizer["ResistorHeaderDescription"]</p>
			
		</div>
	</div>
	<div id="header">
		<div class="row w-100">
			<h2>
				@switch ((ResistorBandEnum)NumBands)
				{
					case ResistorBandEnum.Four: @Localizer["FourBandResistorType"]
						break;
					case ResistorBandEnum.Five: @Localizer["FiveBandResistorType"]
						break;
					case ResistorBandEnum.Six: @Localizer["SixBandResistorType"]
						break;
				}
			</h2>
		</div>
		@switch ((ResistorBandEnum)NumBands)
		{
			case ResistorBandEnum.Four:
				<FourBandsResistor/>
				break;
			case ResistorBandEnum.Five:
			<FiveBandsResistor/>
				break;
			case ResistorBandEnum.Six:
				<SixBandsResistor />
				break;
		}
		<div class="row w-100">
			<p>* @Localizer["ResistorBandReading"]</p>
		</div>
	</div>
</div>

@code {

	[Parameter, SupplyParameterFromQuery(Name = "type")]
	public int NumBands { get; set; }
}